@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Dancing+Script&display=swap');

body {
    background-color: rgb(189, 209, 215);
    overflow-x: hidden
}


.heading {
    text-align: center;
    margin: 0 auto;
    padding: 40px;
    color: rgb(204, 81, 81);
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
    position: relative;
    animation: header;
    animation-duration: 2s;
}

@keyframes header {
    0%{top: -250px}
    100%{top: 0}
}

.ingredients{
    border: 1px solid rgb(76, 76, 141);
    width: 250px;
    margin: 0 auto;
    padding: 10px;
    color: rgb(76, 76, 141);
}

.ingtable{
    margin: 0 auto;
    width: 250px;
    color: rgb(76, 76, 141);
    text-align: center;
}

.instructions {
    padding-top: 30px;
    color: rgb(76, 76, 141);
}

.instructions ol {
    border: 1px solid rgb(76, 76, 141);
    margin: 0 auto;
    width: 50%;
    padding: 20px;
    color: rgb(76, 76, 141);
}

.image{
    width: 50%;
    padding-top: 30px;
    padding-left: 675px;
    position: relative;
    animation: image;
    animation-duration: 2s;
}
@keyframes image {
    0%{right: -500px}
    100%{right: 0}
}
.link{
    opacity: 0;
    padding-top: 40px;
    text-align: center;
    animation: anibtn;
    animation-duration: 4s;
    animation-delay: 2;
    animation-fill-mode: forwards;
}
@keyframes anibtn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.footer{
    text-align: center;
    color: rgb(204, 81, 81);
    font-family: 'Alkatra', cursive;
}